@import url("https://fonts.googleapis.com/css2?family=Questrial&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

header {
  background-color: #06411ad2; }

.navBar {
  display: flex;
  list-style: none;
  gap: 20px;
  justify-content: flex-end;
  margin-right: 15px; }
  .navBar li a {
    font-size: 20px;
    font-family: "Questrial", sans-serif;
    text-decoration: none;
    color: white; }

.logoDv {
  display: flex;
  justify-content: center;
  padding-bottom: 100px;
  padding-top: 100px; }

/*>>>>>> Contacto <<<<<*/
.formDatos {
  width: 400px;
  background-color: greenyellow;
  padding: 30px;
  margin: auto;
  margin-bottom: 100px;
  margin-top: 100px;
  border-radius: 4px;
  font-family: "Questrial", sans-serif;
  color: white;
  box-shadow: 7px 13px 37px #062803; }

.formDatos h4 {
  font-size: 22px;
  font-family: "Questrial", sans-serif;
  margin-bottom: 20px;
  margin-bottom: 20px;
  color: white; }

.controls {
  width: 100%;
  background-color: lightgreen;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 16px;
  border: 1px solid #11ba68;
  font-family: "Questrial", sans-serif;
  font-size: 18px;
  border-radius: 1rem; }

.Comentario {
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 16px;
  font-family: "Questrial", sans-serif;
  font: size 18px;
  border-radius: 1rem;
  background-color: #58c17b; }

.boton {
  width: 100%;
  background: #58c17b;
  border: none;
  padding: 12px;
  color: white;
  margin: 16px 0;
  font-size: 16px;
  border-radius: 1rem; }

.parrafoIndex1 {
  color: white;
  font-size: 50px;
  font-weight: bolder;
  font-family: "Questrial", sans-serif;
  text-align: center;
  margin-left: 100px;
  margin-right: 40px;
  padding-bottom: 40px; }

.item2 {
  justify-content: center; }

.h1 {
  color: white;
  font-size: 50px;
  font-weight: bolder;
  font-family: "Questrial", sans-serif;
  text-align: center;
  margin-left: 100px;
  margin-right: 40px;
  padding-bottom: 40px; }

.tiendaLimpiadores {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 100px;
  margin-bottom: 100px; }
  .tiendaLimpiadores h2 {
    color: white;
    font-size: 50px;
    font-weight: bolder;
    font-family: "Questrial", sans-serif;
    text-align: center;
    margin-left: 100px;
    margin-right: 40px;
    padding-bottom: 40px; }

.parrafoL {
  color: white;
  font-size: 50px;
  font-weight: bolder;
  text-align: center; }

.dobleNelson {
  display: flex;
  flex-direction: row;
  width: 70%;
  background-color: rgba(184, 238, 184, 0.637);
  justify-content: space-around;
  border-radius: 40px; }

.imgMeme {
  width: 300px;
  height: 250px; }

.imgSolucion {
  width: 300px;
  height: 250px; }

.imgL {
  width: 200px;
  height: 200px; }

.limpiador {
  border: 2px solid black;
  border-radius: 10px;
  overflow: hidden;
  font-family: "Questrial", sans-serif; }

.noTe p {
  color: white;
  font-size: 30px;
  font-weight: bolder;
  text-align: center;
  font-family: "Questrial", sans-serif;
  padding-bottom: 20px; }

.noTe img {
  display: block;
  margin-left: auto;
  margin-right: auto; }

.peroD p {
  color: white;
  font-size: 30px;
  font-weight: bolder;
  text-align: center;
  font-family: "Questrial", sans-serif;
  padding-bottom: 20px;
  padding-top: 20px; }

.peroD img {
  display: block;
  margin-left: auto;
  margin-right: auto; }

.subtih2 {
  color: white;
  font-size: 30px;
  font-weight: bolder;
  text-align: center;
  font-family: "Questrial", sans-serif;
  margin-top: 40px;
  margin-bottom: 40px; }

.tituloTips {
  margin-top: 100px;
  margin-bottom: 100px; }

.videoL1 {
  justify-content: space-between; }

.cards-info p {
  font-size: 15px;
  border: 2px solid #9aea20;
  border-radius: 10px;
  overflow: hidden;
  background-color: #0d943c;
  font-family: "Questrial", sans-serif;
  text-align: center; }

.accesorios-h1 {
  color: white;
  font-size: 50px;
  font-weight: bolder;
  font-family: "Questrial", sans-serif;
  text-align: center;
  margin-left: 100px;
  margin-right: 40px;
  padding-bottom: 40px; }

.pAccesorios p {
  color: white;
  font-size: 50px;
  font-weight: bolder;
  font-family: "Questrial", sans-serif;
  text-align: center;
  margin-left: 100px;
  margin-right: 40px;
  padding-bottom: 40px; }

.sectionTienda {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 100px;
  margin-bottom: 100px; }

.section-pica {
  display: flex;
  flex-direction: row;
  width: 70%;
  background-color: rgba(184, 238, 184, 0.637);
  justify-content: space-around;
  border-radius: 20px;
  font-family: "Questrial", sans-serif; }

.section-tips {
  display: flex;
  flex-direction: row;
  width: 70%;
  background-color: rgba(184, 238, 184, 0.637);
  justify-content: space-around;
  border-radius: 20px;
  font-family: "Questrial", sans-serif; }

.pica {
  border: 2px solid black;
  border-radius: 10px;
  overflow: hidden; }

.tips {
  border: 2px solid black;
  border-radius: 10px;
  overflow: hidden; }

.imgF {
  width: 160px;
  height: 160px;
  justify-content: center; }

.tips-h2 {
  color: white;
  font-size: 30px;
  font-weight: bolder;
  text-align: center;
  font-family: "Questrial", sans-serif;
  margin-left: 100px;
  margin-right: 40px;
  padding-bottom: 40px; }

.pica-h2 {
  color: white;
  font-size: 30px;
  font-weight: bolder;
  text-align: center;
  font-family: "Questrial", sans-serif;
  margin-left: 100px;
  margin-right: 40px;
  padding-bottom: 40px; }

.contacto-h1 {
  color: white;
  font-size: 30px;
  font-weight: bolder;
  text-align: center;
  font-family: "Questrial", sans-serif;
  margin-left: 100px;
  margin-right: 40px;
  padding-bottom: 40px; }

@media all and (max-width: 320px) {
  .navBar {
    flex-direction: column;
    align-items: center; }
  article {
    grid-column: 1/ span 2; }
  .grid-container {
    grid-template-rows: 200px auto auto auto 200px; }
  .item2 {
    padding-top: 20px;
    margin-left: 40px;
    justify-content: center;
    align-items: center; } }

body {
  background-image: url("../assets/img/fondo-hoja-marihuana-realista_23-2148770966.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; }

article {
  display: block;
  margin-left: auto;
  margin-right: auto; }

.footer {
  width: 100%;
  height: 200px;
  background-color: rgba(149, 241, 149, 0.463); }

.redesFooter {
  width: 100%;
  height: 100px;
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  gap: 15px; }

.footer-Texto h3, .footer-Texto h4 {
  width: 100%;
  color: white;
  text-align: center;
  font-weight: normal;
  font-size: 30px;
  font-family: "Questrial", sans-serif;
  margin-top: auto; }

.fb-footer {
  width: 50px;
  height: 50px;
  justify-content: center; }

.parrafoP {
  color: white;
  font-size: 30px;
  font-weight: bolder;
  font-family: 'Questrial', sans-serif; }

.grid-containerP {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto;
  padding-bottom: 100px;
  padding-top: 200px;
  place-items: center; }

.link {
  font-family: 'Questrial', sans-serif;
  color: white;
  text-align: center;
  display: block; }
