body{
    background-image:url("../assets/img/fondo-hoja-marihuana-realista_23-2148770966.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;    
}
article{
    display: block;
    margin-left: auto;
    margin-right: auto;
}